<div class="container mt-3 user-settings-container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1>User Settings:</h1>
            </div>
            <hr>
                <h3>Payment Options and Address</h3>
                <button type="button"
                        class="btn btn-outline-primary card-button" 
                        [routerLink]="['/settings/card-details']" 
                        routerLinkActive="active-button">Card Details</button>
                <button type="button"
                        class="btn btn-outline-primary address-button" 
                        [routerLink]="['/settings/address-details']" 
                        routerLinkActive="active-button">Address List</button>
            <div class="settings-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>