.login-wrapper{
    width: 500px;
    min-width: 200px;
}

.login-form{
    margin-top: 15px;
}

.form-button{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.form-link{
    margin-top: 15px;
}

.form-link > a {
    color: indigo;
}
