<div class="container mt-5 mx-auto text-center reset-wrapper">
    <div class="card">
        <form #forgotPasswordForm="ngForm" class="reset-form" (ngSubmit)="onSubmit(forgotPasswordForm)">
            <div class="card-body">
                <div class="card-title">
                    <h1><b>Reset Password</b></h1>
                </div>
                <hr>
                <div class="card-body">
                    <div class="form-group row form-field">
                            <label for="email">Email Address:</label>
                            <input 
                                type="email"
                                email
                                id="email" 
                                name="email"
                                ngModel=""
                                class="form-control" 
                                placeholder="John@example.com" 
                                required 
                                [ngClass]= "{'is-invalid' : submitted && forgotPasswordForm.controls.email.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && forgotPasswordForm.controls.email.errors?.required">Email is required</div >
                            <div class="invalid-feedback" *ngIf="submitted && forgotPasswordForm.controls.email.errors?.email">Please enter valid email address</div >
                        </div>
                    <div class="form-button">
                        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
                        <!--<button mat-stroked-button color="primary">Register</button>-->
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>